#.env-file sample

SECRET_KEY=твой_secret_key
DEBUG=опционально_default==False

#DATABASE
MYSQL_DB_NAME=имя_БД
MYSQL_DB_USER=юзернейм
MYSQL_DB_USER_PASSWORD=пароль_юзера
MYSQL_DB_HOST=опционально_default==localhost
MYSQL_DB_PORT=опционально_default==3306